#loader {
    position: absolute;
    opacity: 1;
    height: 100vh;
    width: 100vw;
    z-index: 20000;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#loader.fadeOut {
    opacity: 0;
    display: none;
}

.spinner {
    display: inline-block;
    position: relative;
    margin: auto;
    max-width: 400px;
    height: 100vh;
    width: 100vw;
    background-image: url("../static/images/lips-loading_transparent.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}
