#chat-sidebar {
  width: 250px;
  height: calc(100vh - 120px);
  z-index: 1000;
  overflow: auto;

  @include to($breakpoint-md) {
    transition: all 0.3s ease-in-out;
    margin-left: -250px;

    &.open {
      margin-left: 0;
    }
  }
}

#chat-title-box {
  min-height: 85px;
  z-index: 500;
}

#chat-box {
  height: calc(100vh - #{$header-height} - 55px);
  overflow: auto;
  padding-top: 85px;
}
